<h2 class="center">Hey hey people, Austris here.</h2>

<p>This is my personal blog where i mumble about stuff like.</p>
<p>Like:</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Mead</li>
    <li class="list-group-item">Programming</li>
    <li class="list-group-item">Books</li>
    <li class="list-group-item">Gaming</li>
    <li class="list-group-item">Cybersecurity</li>
    <li class="list-group-item">Other stuff</li>
</ul>
